/* Mobile - First */



body {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Define duas colunas: 1 parte para o header, 3 partes para o main */
    grid-template-rows: 100vh; /* A altura da tela inteira */
    margin: 0;
    height: 100vh;
}

.img_logo{
    width: 100px;
}

header {
    grid-column: 1 / 2; /* O header ocupa a primeira coluna */
    grid-row: 1 / 2; /* O header ocupa a única linha */
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: .5em;
}

.container_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    
}

.container_ul li{
    
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    list-style-type: none;
    

    
}

.container_ul li a{
    text-decoration: none;
    color: white;
}

.container_ul li:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

main {
    grid-column: 2 / 4; /* O main ocupa a segunda coluna */
    grid-row: 1 / 2; /* O main ocupa a única linha */
    background-color: red;
    padding: 20px;
    
}

.character-size{
    width: 100%;
}

.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide p{
    font-size: 1.5em;
    font-weight: bolder;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.carousel-prev {
    left: 1px;
    border-radius: 50%;
    
}

.carousel-prev:hover{
    transform: translate(1.1);
}

.carousel-next {
    right: 1px;
    border-radius: 50%;
}

.carousel-next:hover{
    transform: translate(1.1);
}